<mat-card class="example-card" routerLink="patient">
  <mat-card-content class="center">
    <mat-icon class="icon-l">sick</mat-icon>
    <h2>Patient</h2>
  </mat-card-content>
</mat-card>

<mat-card class="example-card" routerLink="doctor">
    <mat-card-content class="center">
      <mat-icon class="icon-l">medical_services</mat-icon>
      <h2>Arzt</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" routerLink="pharmacy">
    <mat-card-content class="center">
      <mat-icon class="icon-l">local_pharmacy</mat-icon>
      <h2>Apotheke</h2>
    </mat-card-content>
  </mat-card>
