:host {
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

.example-card {
  width: 140px;
  height: 80px;
  &:hover {
    cursor: pointer;
    color: darkslategray;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
