mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 99;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

mat-sidenav-container {
  height: 100%;
}

.backlink {
  display: flex;
  align-items: center;
}
