<mat-toolbar color="primary">
  <a
    class="backlink"
    *ngIf="toolbarService.hasBacklink$ | async; else menuBtn"
    (click)="navigateBack()"
  >
    <mat-icon fontIcon="arrow_back_ios"></mat-icon>
  </a>
  <ng-template #menuBtn>
    <mat-icon fontIcon="menu" (click)="sidenav.toggle()"></mat-icon>
  </ng-template>
  <span *ngIf="patient$ | async as patient"
    >{{ patient.Firstname }} {{ patient.Lastname }}</span
  >
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/patient/{{ (patient$ | async)?.id }}"
        (click)="sidenav.close()"
      >
        Dashboard
      </a>
      <a
        mat-list-item
        routerLink="/patient/{{ (patient$ | async)?.id }}/recepies"
        (click)="sidenav.close()"
        >Rezepte</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
