:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: mediumspringgreen;
}

.card {
  height: fit-content;
  min-width: 400px;
}

.spacer-top {
    margin-top: 24px;
}
