:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: mediumspringgreen;
}

.card {
  height: fit-content;
  min-width: 400px;

  .card-title {
    display: flex;
    align-items: center;
  }
}

.spacer-top {
    margin-top: 24px;
}

.time {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
