<mat-card class="card" routerLink="patient">
  <mat-card-title>Rezept ausstellen</mat-card-title>
  <mat-card-content class="center">
    <!-- patient selector -->
    <mat-form-field appearance="fill">
      <mat-label>Patient</mat-label>
      <input
        matInput
        aria-label="State"
        [matAutocomplete]="auto"
        [formControl]="patientInput"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onPatientSelected($event)"
        [displayWith]="patientDisplayFn"
      >
        <mat-option
          *ngFor="let patient of filteredPatients$ | async"
          [value]="patient"
        >
          <span>{{ patient.Firstname }} </span>
          <span>{{ patient.Firstname }} </span> |
          <small>{{ patient.Birthday }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- selected patient -->
    <ng-container *ngIf="selectedPatient">
        <div>{{selectedPatient.Birthday}}</div>
    </ng-container>

  </mat-card-content>
</mat-card>
