:host {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #fafafa;
}

.card {
  height: fit-content;
  min-width: 400px;

  .card-title {
    display: flex;
    align-items: center;
  }
}

.spacer-top {
  margin-top: 24px;
}

.time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
