<mat-card class="card" routerLink="pharmacy">
  <mat-card-title class="card-title">
    <mat-icon>local_pharmacy</mat-icon>Rezept einlösen</mat-card-title
  >
  <mat-card-content class="center">
    <!-- selected recipe -->
    <ng-container *ngIf="recipe">
      <mat-toolbar>
        <span
          >{{ recipe.patient.Firstname }} {{ recipe.patient.Lastname }}</span
        >
      </mat-toolbar>
      <span>Geburtstag: {{ recipe.patient.Birthday }}</span>
      <span>AHV Nr: {{ recipe.patient.AHV }}</span>
      <span>Karten Nr: {{ recipe.patient.Cardnumber }}</span>
      <span>Geschlecht: {{ recipe.patient.Gender }}</span>
      <mat-toolbar>
        <span>{{ recipe.DoctorName }}</span>
      </mat-toolbar>
      <span>Adresse: {{ recipe.DoctorAddress }}</span>
      <mat-toolbar>
        <span>{{ recipe.medication.Name }}</span>
      </mat-toolbar>
      <span>{{ recipe.medication.Type }}</span>
      <span>Ausstellungsdatum: {{ recipe.Date }}</span>

      <section class="time spacer-top">
        <mat-checkbox
          (click)="$event.preventDefault()"
          [(ngModel)]="recipe.Morning"
          >Morgens</mat-checkbox
        >
        <mat-checkbox
          (click)="$event.preventDefault()"
          [(ngModel)]="recipe.Lunch"
          >Mittags</mat-checkbox
        >
        <mat-checkbox
          (click)="$event.preventDefault()"
          [(ngModel)]="recipe.Evening"
          >Abends</mat-checkbox
        >
      </section>

      <span>Firma: {{ recipe.medication.Company }}</span>
      <span>Gültig bis: {{ recipe.ValidTo }}</span>
      <mat-card-actions align="end" *ngIf="!recipe.Used">
        <mat-icon>task</mat-icon>
        <button mat-button (click)="onSave()">EINLÖSEN</button>
      </mat-card-actions>

      <mat-card-actions align="end" *ngIf="recipe.Used">
        <mat-icon>task</mat-icon>
        <span>Bereits einglöst</span>
      </mat-card-actions>
    </ng-container>
  </mat-card-content>
</mat-card>
