<mat-card>
  <mat-card-title>
    <mat-icon>local_pharmacy</mat-icon>Rezept einlösen
  </mat-card-title>
  <mat-card-content>
    <!-- selected recipe -->
    <div class="recipe" *ngIf="recipe">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title
            >{{ recipe.patient.Firstname }}
            {{ recipe.patient.Lastname }}</mat-panel-title
          >
          <mat-panel-description>Patient</mat-panel-description>
        </mat-expansion-panel-header>

        <dl>
          <dt>Geburtstag</dt>
          <dd>{{ recipe.patient.Birthday }}</dd>
          <dt>Geschlecht</dt>
          <dd>{{ recipe.patient.Gender }}</dd>
          <dt>AHV</dt>
          <dd>{{ recipe.patient.AHV }}</dd>
          <dt>Karten Nr.</dt>
          <dd>{{ recipe.patient.Cardnumber }}</dd>
        </dl>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ recipe.DoctorName }}</mat-panel-title>
          <mat-panel-description>Arzt</mat-panel-description>
        </mat-expansion-panel-header>

        <dl>
          <dt>Adresse</dt>
          <dd>{{ recipe.DoctorAddress }}</dd>
        </dl>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ recipe.medication.Name }}</mat-panel-title>
        </mat-expansion-panel-header>

        <dl>
          <dt>Typ</dt>
          <dd>{{ recipe.medication.Type }}</dd>

          <dt>Firma</dt>
          <dd>{{ recipe.medication.Company }}</dd>

          <dt>Ausstellungsdatum</dt>
          <dd>{{ recipe.Date.toDate() | date: 'dd.MM.YYYY' }}</dd>

          <dt>Gültig bis</dt>
          <dd>{{ recipe.ValidTo.toDate() | date: 'dd.MM.YYYY' }}</dd>

          <dt>Dosierung</dt>
          <dd class="dosis">
            <mat-checkbox
              (click)="$event.preventDefault()"
              [checked]="recipe.Morning"
              disabled
              >Morgens</mat-checkbox
            >
            <mat-checkbox
              (click)="$event.preventDefault()"
              [checked]="recipe.Lunch"
              disabled
              >Mittags</mat-checkbox
            >
            <mat-checkbox
              (click)="$event.preventDefault()"
              [checked]="recipe.Evening"
              disabled
              >Abends</mat-checkbox
            >
          </dd>
        </dl>
      </mat-expansion-panel>

      <mat-card-actions align="end" *ngIf="!recipe.Used">
        <button mat-raised-button color="primary" (click)="onSave()">
          <mat-icon>task</mat-icon>
          <span>EINLÖSEN</span>
        </button>
      </mat-card-actions>

      <mat-card-actions align="end" *ngIf="recipe.Used">
        <button mat-raised-button disabled>
          <mat-icon>task</mat-icon>
          <span>Bereits einglöst</span>
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
